* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fafafa;
    color: #333;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgb(190, 217, 253);
    border-bottom: 2px solid #120e0e;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.search {
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.header-icons span {
    margin-right: 20px;
    font-size: 10px;
}

.login-btn {
    padding: 10px 20px;
    background: #eee;
    border-radius: 6px;
    border: none;
}

/* HERO */
.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 30%;
    left: 50px;
    color: rgb(18, 17, 17);
    max-width: 350px;
}

.shop-now {
    padding: 10px 20px;
    margin-top: 15px;
    background: rgb(16, 15, 15);
    color: white;
    border: none;
    border-radius: 25px;
}

/* FLASH SALE */
.flash-sale {
    background: #f24444;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}

/* CATEGORIES */
.categories {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #f8bee3;
}

.cat {
    text-align: center;
}

.cat img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* PRODUCT SECTION */
.product-section {
    display: flex;
    padding: 40px;
}

.filters {
    width: 20%;
    background: #ccf4f0;
    padding: 20px;
    border-radius: 10px;
}

.filters h3 {
    margin-bottom: 10px;
}

.filters h4 {
    margin-top: 20px;
}

.filters label {
    display: block;
    margin-top: 8px;
}

.product-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-left: 30px;
}

.product-grid img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

/* TESTIMONIALS */
.testimonials {
    padding: 50px;
    text-align: center;
    background: #f8f8f8;
}

.testimonial-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.testimonial-card {
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.testimonial-card img {
    width: 60px;
    border-radius: 50%;
}


/* SUBSCRIBE */
.subscribe {
    text-align: center;
    padding: 50px;
    background: #111;
    color: white;
}

.subscribe input {
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.subscribe button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background: #ff6a6a;
    color: white;
}

/* FOOTER */

.social-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.social-link:hover {
    text-decoration: underline;
}
.footer {
    display: flex;
    justify-content: space-around;
    background: #2d2d2d;
    color: white;
    padding: 40px;
}

.footer-col h4 {
    margin-bottom: 10px;
}